@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/proxima-nova");
* {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova", sans-serif;
}

body {
  background-color: #e6e9f2;
}
::selection {
  background: #ccc;
}
::-moz-selection {
  background: #ccc;
}
::-webkit-selection {
  background: #ccc;
  color: #fff;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #d4d4d4;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background: #3a4562;
  border-radius: 8px;
  border: 3px solid #d4d4d4;
}

::-webkit-scrollbar-thumb:hover {
  background: #323941;
}
